{% extends 'base.html.twig' %}

{% block title %}WCC - Argonnautes{% endblock %}

{% block body %}
<!-- Main section -->
<main>
  <!-- New member form -->
  <h2>Ajouter un(e) Argonaute</h2>
{{form(form)}}
  
  <!-- Member list -->
  <h2>Membres de l'équipage</h2>
  <section class="member-list">
    {% for argonaut in argonauts %}
        <div class="member-item">{{argonaut.name}}</div>
    {% endfor %}
  </section>
</main>
{% endblock %}
